.full-height {
    min-height: 100vh; /* Ensures the container takes at least full height of the viewport */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the container fills the available space */
}

.form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.authform{
    background: #1b272ba6;
}
.cardbg {
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbg img{ 
    width: 100%;
}